parameters:
    level: 8
    paths:
        - src
        - tests
    tmpDir: var/phpstan

    excludePaths:
        - var
        - vendor

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
